.alert {
  margin: .5rem 0 0;
  border: 0.1rem solid transparent;
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  line-height: normal;

  &--error {
    border-color: #ac0000;
    background-color: #fbe9e7;
    color: #ac0000;
  }

  &--success {
    border-color: #049632;
    background-color: #d3f9bb;
    color: #049632;
  }
}
