@use "config/variables" as var;
@use "config/mixins" as mix;

.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mix.tablet {
    width: auto;
    flex-direction: row;
    align-items: end;
    gap: 1.5rem;
  }

  &__link {
    padding: 1rem;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    color: var.$white;
    border-bottom: 0.3rem solid transparent;

    @include mix.tablet {
      padding: 0.3rem;
    }

    @include mix.hover(border, 0.3s, ease-in-out) {
      border-bottom: 0.3rem solid var.$white;
    }
  }
}
