@use "config/variables" as var;
@use "config/mixins" as mix;

.results-gallery {
  &__grid {
    @include mix.grid(1, 2rem);

    @include mix.tablet {
      @include mix.grid(2, 3rem);
    }

    @include mix.desktop {
      @include mix.grid(3, 3rem);
    }
  }
}

.gallery-item {
  position: relative;
  border-radius: 1rem;
  background-color: var.$white;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 0;
  }

  @include mix.hover(all, 0.3s, ease-in-out) {
    cursor: pointer;

    &::after {
      opacity: 1;
    }

    & .gallery-item__info {
      opacity: 1;
      transform: translateY(0);
      z-index: 1;
    }
  }

  &__img {
    width: 100%;
    border-radius: inherit;
    object-fit:cover;
    aspect-ratio: 5 / 4;

  }

  &__info {
    position: absolute;
    inset: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var.$white;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &__likes {
    font-weight: 500;
    margin: 0;
  }

  &__btn {
    @include mix.button(var.$primary-color, var.$white);
    margin-top: 1rem;
  }
}
