@use "config/variables" as var;
@use "sass:color";

// Breakpoints
@mixin phone {
  @media (min-width: var.$phone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: var.$tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: var.$desktop) {
    @content;
  }
}

@mixin desktopXL {
  @media (min-width: var.$desktopXL) {
    @content;
  }
}

@mixin hoverActive($property, $duration, $function) {
  &:active {
    @content;
  }

  @media (hover: hover) {
    transition: $property $duration $function;

    &:hover {
      @content;
    }
  }
}

// Grid
@mixin grid($column, $espaciado) {
  display: grid;
  grid-template-columns: repeat($column, 1fr);
  gap: $espaciado;
}

// Botones
@mixin button($bgColor, $textColor) {
  margin-top: 2rem;
  display: block;
  padding: 1rem 2rem;
  background-color: $bgColor;
  font-size: 2rem;
  font-weight: 700;
  color: $textColor;
  text-align: center;
  text-decoration: none;
  border-radius: 1rem;

  @include tablet {
    width: auto;
  }

  @include hoverActive(background-color, 0.3s, ease-in-out) {
    background-color: color.scale($bgColor, $lightness: -10%);
    cursor: pointer;
  }
}
