// MediaQueries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1280px;

// Fonts
$primary-font: "Roboto", sans-serif;

// Colors
$primary-color: #9880dd;
$secondary-color: #F7AEF8;
$black: #080708;
$white: #ffffff;
$gray: #e5e5e5;
